.hero_content {
  width: 100%;
  display: flex;
  justify-content: space-around ;
}
.hero_section {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}
.hero_section h1 {
  font-size: 80px;
}
.hero_section p {
  font-size: 24px;
  font-weight: 400;
  color: #808080;
}
.hero_section-btn {
  background-color: #FB9300;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}
.hero_aside {
  margin: 20px;
  padding: 20px;
  position: relative;
}
.hero_aside-commentLeft {
  display: flex;
  align-items: center;
  width: 220px;
  height: 80px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 350px;
  left: -50px;
}
.hero_aside-commentRight {
  display: flex;
  align-items: center;
  width: 220px;
  height: 80px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 50px;
  right: -50px;
}
.hero_aside-commentRight-img {
  width: 60px;
  height: 60px;
  margin: 15px;
  object-fit: cover;
  border-radius: 50%;
}
.hero_aside-commentLeft-img {
  width: 60px;
  height: 60px;
  margin: 15px;
  object-fit: cover;
  border-radius: 50%;
}
.hero_aside-img {
  width: 400px;
  height: 580px;
  border-radius: 80px;
  object-fit: cover;
}

@media screen and (min-device-width: 768px) {
  .gfg-div {
    width: 400px;
    height: 400px;
    background-color: orange;
    color: black;
  }
}
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    background-color: red;
    color: #fff;
  }
}