.sabores-premium {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px 0 0 0;
}
.sabores-premium-headline {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 40px;
}
.sabores-premium-headlineSub {
    font-size: 40px;
    font-weight: 700;
    color: #808080;
    margin-bottom: 60px;
}
.sabores-premium-tamaños-precios {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  padding: 30px;
  margin-top: 50px;
}
.sabores-premium-tamaños-precios-black-background {
  width: 180px;
  height: 180px;
  border-radius: 40px;
  margin: 0 0 10px 0;
  background-color: black;
  transform: rotate(25deg);
  position: relative;
  top: -15px;
  left: 150px;
}
.sabores-premium-tamaños-precios-yellow {
  width: 180px;
  height: 200px;
  background-color: #fcb54e;
  border-radius: 20px;
  position: absolute;
  left: 30px;
  transform: rotate(-25deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.sabores-premium-tamaños-precios-yellow-h2 {
  color: white;
  font-size: 28px;
}
.sabores-premium-tamaños-precios-yellow-h3 {
  color: white;
}
.sabores-premium-tamaños-precios-yellow-h4 {
  font-size: 24px;
}
.sabores-premium-tamaños-precios-black-background-two {
  width: 230px;
  height: 350px;
  background-color: black;
  border-radius: 50px;
  transform: rotate(68deg);
  margin: 0 0 0 120px;
  top: -80px;
  left: -100px;
  position: relative;
}
.sabores-premium-tamaños-precios-white {
  width: 180px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  top: 200px;
  left: -24px;
  transform: rotate(-68deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.sabores-premium-tamaños-precios-white-h2 {
  color: black;
  font-size: 28px;
}
.sabores-premium-tamaños-precios-white-h4 {
  font-size: 24px;
  color: #D70006;
}
.sabores-premium-tamaños-precios-whiteTwo {
  width: 180px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  right: -15px;
  top: -24px;
  transform: rotate(-68deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.sabores-premium-tamaños-precios-yellow-background {
  width: 250px;
  height: 360px;
  border-radius: 50px;
  transform: rotate(41.74deg);
  top: -50px;
  right: 200px;
  position: relative;
  background-color: #fcb54e;
}
.sabores-premium-tamaños-precios-black {
  width: 180px;
  height: 200px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  top: 135px;
  left: -80px;
  transform: rotate(-41.74deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.sabores-premium-tamaños-precios-blackTwo {
  width: 180px;
  height: 200px;
  background-color: black;
  border-radius: 20px;
  position: absolute;
  right: -28px;
  top: -20px;
  transform: rotate(-41.74deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px 0;
}
.sabores-premium-tamaños-precios-black-h2 {
  color: white;
  font-size: 28px;
  padding-left: 40px;
}
.sabores-premium-tamaños-precios-black-h3 {
  color: white;
  padding-left: 0;
}
.sabores-premium-tamaños-precios-black-h4 {
  font-size: 24px;
  color: #FCB54E;
}
.sabores-premium-cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}
.sabores-premium-card {
  width: 350px;
  height: 550px;
  box-shadow: 0px 5px 10px 5px rgba(240, 240, 240, 0.78);
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: 450ms;
  transform-origin: center left;
}
.sabores-premium-card:hover ~ .sabores-premium-card {
  transform: translate3d(50px, 0, 0);
}
.sabores-premium-cardContainer:hover .sabores-premium-card {
  opacity: 0.3;
}
.sabores-premium-cardContainer:hover .sabores-premium-card:hover {
  transform: scale(1.2);
  opacity: 1;
}
.sabores-premium-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
}
.sabores-premium-itemsInsideCard {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 250px;
  padding: 30px;
}
.sabores-premium-card-p {
  color: #808080;
}
.sabores-premium-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sabores-premium-want {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb9300;
  border-radius: 10px;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 24px;
  padding: 5px;
}
.sabores-premium-want:hover {
  background-color: black;
}
.sabores-premium-a {
  text-decoration: none;
  cursor: pointer;
}